$background-color: #333333;
@import "../../style.scss";

.card-bar {
  background-color: $background-color;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  opacity: 0.9;
  min-height: 50px;
  margin: -10px 0 10px;
  padding: 0px 20px;
  align-items: center;

  h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%
  }

  button {
    border: none !important;
    box-shadow: none !important;
    svg {
      border: none;
      border-radius: 0;
      &.completed {
        filter: contrast(20%);
      }
      &:hover {
        border: none !important;
      }
    }
  }

  .share-box {
    display: flex;
    flex-direction: column;

    button {
      position: relative;
      top: 9px;
    }
  }

  .share-box.sharing {
    button {
      position: relative;
      top: 9px;
    }
  }
}
