@import "../../style.scss";

.card-list {
  width: 100%;
  transition: width 0.5s;
  padding: 0 10px 10px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10vh;
  flex-flow: column wrap !important;

  .card-list-controls {
    border-radius: 10px;
    display: flex;
    padding: 5px;
    width: fit-content;
    align-self: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    transition: all 0.5s;
    margin: 0 5px 5px;
    span {
      &.disabled {
        font-size: 0;
      }
      margin: 5px;
    }
  }
  .page-control {
    display: flex;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    min-width: unset;

    svg {
      transition: all 0.5s;
    }
    &.disabled {
      background: transparent !important;
      svg {
        width: 0px;
      }
    }
  }
  .card-list-pagination {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    > ul {
      max-width: calc(100% - 20px);
      margin: 0 auto !important;
    }
  }

  .card-list-grid {
    display: flex;
    margin-left: -10px; /* gutter size offset */
    width: 100%;
  }
  .card-list-card {
    transition: all 0.5s;
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
  }
}
