@import "../../style.scss";

$white-code-background: #edeff8;
$code-background: #08090a;

.card-item {
  color: $note-font-color;
  padding: 20px;
  margin: 5px !important;
  max-height: fit-content !important;
  border-radius: 10px;
  flex-flow: column nowrap !important;
  outline: none !important;
  width: 450px;
  transition: all 0.5s;


  h1 {
    margin-bottom: 5px !important;
  }

  span.card-date {
    margin-top: -5px;
    font-size: 0.85em;
    span {
      font-style: italic;
    }
  }


  .card-control {
    background-color: #1f2833;
    margin: 15px auto 0px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

  button {
    transition: all 0.5s ease-in;
    svg {
      border: none;
      border-radius: 0;
      &:hover {
        border: none !important;
      }
    }
  svg.minimize-icon {
    polyline {
      stroke: $accent-color !important;
    }
  }
  svg.maximize-icon {
    polyline {
      stroke: $accent-color !important;
    }
  }

  &:hover {
    filter: saturate(500%);
    svg.minimize-icon {
      polyline {
        stroke: $secondary-accent !important;
      }
    }
    svg.maximize-icon {
      polyline {
        stroke: $secondary-accent !important;
      }
    }
  }
}

  h5 {
    font-size: 125% !important;
    line-height: 125% !important;
  }

  h4 {
    font-size: 160% !important;
    line-height: 160% !important;
  }

  h3 {
    font-size: 200% !important;
    line-height: 200% !important;
  }

  p {
    color: #333 !important;
  }

  blockquote {
    background-color: #666;
    opacity: 0.8;
    margin: 10px;
    border-radius: 10px;
    padding-left: 20px;
    p {
      ::before{
        content: '>'
      }
      color: #fff !important;
    }
    &:hover {
      p {
        color: $accent-color !important;
      }
    }
  }

  h5, h4, h3, p {
    margin-bottom: 5px !important;
  }

  ul {
    li {
      color: #333 !important;
    }
    margin: 10px !important;
  }

  .labels {
    span {
      width: fit-content;
      margin: 5px;
      display: inline-block;
    }
  }

  .note-card-content {
    margin-top: 5px;
    overflow-wrap: break-word;
    overflow-x: auto;
    overflow-y: hidden;
    p {
      max-width: 100% !important;
    }
    table {
      thead {
        th {
          background-color:rgba(255,255,255,0.8);
        }
      }
      tbody {
        tr {
          text-align: center;
          background-color:rgba(255,255,255,0.4);
          &:nth-child(2n) {
            background-color:rgba(255,255,255,0.6);
            &:hover {
              background-color:rgba(255,255,255,0.8);
            }
          }
          &:hover {
            background-color:rgba(255,255,255,0.8);
          }
        }
      }
    }
    ul {
      .task-list-item {
        input {
          position: relative;
          vertical-align: bottom;
          opacity: 1;
          cursor: pointer;
          height: 20px;
          width: 20px;
        }
      }
    }
    div {
      display: flex;
      flex-flow: column wrap;
      p {
        margin-top: 12px !important;
      }
    }

    code {
      font-size: 14px;
      border: 1px dashed #6e6e6e;
      padding: 1px;
      white-space: pre-wrap;
      border-radius: 5px
    }

    pre {
      overflow: auto;
      margin-bottom: 5px;
    }
  }
}
