@import "../../style.scss";

.card-item {
  padding: 20px;
  margin: 5px !important;
  max-height: fit-content !important;
  border-radius: 10px;
  flex-flow: column nowrap !important;
  min-width: 300px;
  transition: all 0.5s;
  color: $note-font-color;

  @include breakpoint(small) {
    min-width: auto;
  }

  span.card-date {
    margin-top: -5px;
    color: $note-font-color;
    font-size: 0.85em;
    span {
      font-style: italic;
    }
  }

  .card-control {
    background-color: #1f2833;
    margin: 15px auto 0px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    opacity: 0.5;
    border-radius: 10px;
    padding: 5;
  }

  button {
    transition: all 0.5s ease-in;
  }

  h5,
  h4,
  h3,
  p,
  ul,
  ol,
  li {
    color: $note-font-color;
  }

  code {
    span {
      -webkit-text-stroke: 1px #ffffff33;
    }
  }

  .labels {
    span {
      width: fit-content;
      margin: 5px;
      display: inline-block;
    }
  }

  .card-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
    }
    li input {
      height: 18px;
      width: 18px;
    }
    table {
      border-radius: 5px;
      border-collapse: initial;
      thead {
        th {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
      tbody {
        tr {
          background-color: rgba(255, 255, 255, 0.4);
          &:nth-child(2n) {
            background-color: rgba(255, 255, 255, 0.6);
            &:hover {
              background-color: rgba(255, 255, 255, 0.8);
            }
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }
  }
}
