.card-bar {
  background-color: #333333;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  opacity: 0.9;
  min-height: 50px;
  margin: -10px 0 10px;
  padding: 0px 10px;
  align-items: center;
  input {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  button {
    border-radius: 10px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 5px;
    svg {
      border-radius: 0;
    }
  }
  .buttons-container {
    display: flex;
  }
}
