@import "../../style.scss";
.card-list {
  background-color: $note-list-background;
  color: $accent-color;
  padding: 10px;
  margin: 0 10px;
  margin-bottom: 10vh;
  flex-flow: column wrap !important;

  .card-list-pagination {
    display: flex;
    flex-flow: row nowrap;
    .page-control {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      border-radius: 10px;
      cursor: pointer;

      &:hover {
        background-color: $accent-color;
        svg {
          > * {
            stroke: $note-list-background;
          }
        }
      }
      svg {
        > * {
          stroke: $accent-color;
        }
      }
    }
    > ul {
      max-width: calc(100% - 20px);
      margin: 0 auto !important;
    }
  }


  &.white-mode {
    color: $white-font-color;
    background-color: $white-note-list-background;

    .add-note-btn {
      svg {
        border: 1px solid $white-font-color;
        path {
          stroke: $white-font-color !important;
        }
        &:hover {
          border: 1px solid $secondary-background;
          path {
            stroke: $secondary-background !important;
          }
        }
      }
    }
  }

  .add-note-btn {
    @include normalize-button-icons();
    margin: 10px auto;
    transform: translate(0, 2px);
    svg {
      width: 32px;
      height: 32px;
    }
  }
}
