@import "../../style.scss";

.card-bar {
  background-color: #333333;
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  opacity: 0.9;
  min-height: 50px;
  margin: -10px 0 10px;
  padding: 0px 20px;
  align-items: center;

  h5 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 50%
  }

  button {
    svg {
      border-radius: 0;
    }
  }
  .buttons-container {
    display: flex;
  }
}
