@import "../../style.scss";

.card-item {
  padding: 20px;
  margin: 5px !important;
  max-height: fit-content !important;
  border-radius: 10px;
  flex-flow: column nowrap !important;
  min-width: 300px;
  transition: all 0.5s;

  @include breakpoint(small) {
    min-width: auto;
  }

  span.card-date {
    margin-top: -5px;
    color: $note-font-color;
    font-size: 0.85em;
    span {
      font-style: italic;
    }
  }

  .card-control {
    background-color: #1f2833;
    margin: 15px auto 0px;
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    opacity: 0.5;
    border-radius: 10px;
    padding: 5;
  }

  button {
    transition: all 0.5s ease-in;
  }

  h5,
  h4,
  h3,
  p,
  ul,
  ol,
  li {
    color: $note-font-color;
  }

  .labels {
    span {
      width: fit-content;
      margin: 5px;
      display: inline-block;
    }
  }

  .note-card-content {
    margin-top: 5px;
    overflow-wrap: break-word;
    overflow-x: auto;
    overflow-y: hidden;
    p {
      max-width: 100% !important;
    }
    table {
      thead {
        th {
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
      tbody {
        tr {
          text-align: center;
          background-color: rgba(255, 255, 255, 0.4);
          &:nth-child(2n) {
            background-color: rgba(255, 255, 255, 0.6);
            &:hover {
              background-color: rgba(255, 255, 255, 0.8);
            }
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.8);
          }
        }
      }
    }
    ul {
      .task-list-item {
        input {
          position: relative;
          vertical-align: bottom;
          opacity: 1;
          cursor: pointer;
          height: 20px;
          width: 20px;
        }
      }
    }
    div {
      display: flex;
      flex-flow: column nowrap;
      p {
        margin-top: 12px !important;
      }
    }

    code {
      font-size: 14px;
      border: 1px dashed #6e6e6e;
      padding: 1px;
      white-space: pre-wrap;
      border-radius: 5px;
    }

    pre {
      overflow: auto;
      margin-bottom: 5px;
    }
  }
}
