@import "../../style.scss";

.card-list {
  color: $accent-color;
  width: 100%;
  transition: width 0.5s;
  padding: 0 10px 10px;
  border-radius: 10px;
  display: flex;
  margin-bottom: 10vh;
  flex-flow: column wrap !important;

  .card-list-controls {
    background-color: $note-list-background;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    width: fit-content;
    align-self: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    transition: all 0.5s;
    margin: 0 5px 5px;
    span {
      &.disabled {
        font-size: 0;
      }
      margin: 5px;
    }
  }
  .page-control {
    display: flex;
    border-radius: 10px;
    margin: 0 5px;
    cursor: pointer;
    min-width: unset;

    &:hover {
      background-color: $accent-color;
      svg {
        > * {
          stroke: $note-list-background;
        }
      }
    }
    svg {
      transition: all 0.5s;
      > * {
        stroke: $accent-color;
      }
    }
    &.disabled {
      background: transparent !important;
      svg {
        width: 0px;
      }
    }
  }
  .card-list-pagination {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    > ul {
      max-width: calc(100% - 20px);
      margin: 0 auto !important;
    }
  }


    .card-list-grid{
      display: flex;
      margin-left: -10px; /* gutter size offset */
      width: 100%;
    }
    .card-list-card {
      transition: all 0.5s;
      padding-left: 10px; /* gutter size */
      background-clip: padding-box;
    }

  &.white-mode {
    color: $white-font-color;
    background-color: $white-note-list-background;
    .page-control {
      &:hover {
        background-color: $white-font-color;
        svg {
          > * {
            stroke: $white-note-list-background;
          }
        }
      }
      svg {
        > * {
          stroke: $white-font-color;
        }
      }
    }
  }
}
