@import "../../style.scss";

.card-bar {
  background-color: $note-font-color;
  border-radius: 10px;
  width: fit-content;
  opacity: 0.9;
  min-height: 50px;
  margin: -10px 0 10px;
  padding: 0px 10px;
  align-items: center;
}
