{
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "extends": [
    "prettier/react", "eslint:recommended", "airbnb"],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react", "import"],
  "rules": {
    "space-before-function-paren": 0,
    "no-mixed-operators": "off",
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "global-require": 0,
    "guard-for-in": 0,
    "quotes": ["error", "single"],
    "semi": ["error", "always"],
    "react/forbid-prop-types": "off"
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["Containers", "./app/containers"],
          ["Components", "./app/components"],
          ["Resources", "./resources"],
          ["Store","./app/store"],
          ["Utils","./app/utils"],
          ["UI", "./app/components/UI"]
        ],
        "extensions": [".jsx", ".js"]
      }
    }
  }
}
