@import "../style.scss";
@import "~react-toastify/dist/ReactToastify.css";

* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  margin: 0;
  button {
    box-shadow: none !important;
  }
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}
p {
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.4);
}

body {
  background: $background;
  border: 1px solid $background;
  overflow-y: hidden;
}
@font-face {
  font-family: Segoe;
  src: url(../assets/SegMDL2.ttf);
}
.layer {
  padding-top: 36px;
}

.toast-container > div {
  border-radius: 10px;
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0px;
  background-color: transparent;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $accent;
  border-radius: 10px;
}
#titlebar {
  &.Windows {
    background-color: #0f1116;
  }
  display: block;
  z-index: 15;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  padding: 4px;
  color: $accent;
  font-family: Helvetica;
  #drag-region {
    .title {
      font-size: 1.2em;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      img {
        margin-right: 12px;
        height: 24px;
      }
    }
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;

    #window-controls {
      &.Linux {
        font-family: Segoe;
        display: grid;
        grid-template-columns: repeat(3, 23px);
        position: absolute;
        top: 5px;
        left: 5px;
        height: 24px;
        -webkit-app-region: no-drag;
        .button {
          grid-row: 1 / span 1;
          border-radius: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 14px;
          height: 14px;
          color: transparent;
          user-select: none;
          cursor: default;
          opacity: 0.8;
          &:hover {
            background: rgba(255, 255, 255, 0.2);
            color: #333;
            font-weight: 700;
            font-size: 9px;
            opacity: 1;
          }
        }
        #min-button {
          background: #28ca46;
          grid-column: 3;
        }
        #max-button,
        #restore-button {
          background: #fac038;
          grid-column: 2;
        }
        #close-button {
          background: #e81123;
          grid-column: 1;
        }
      }
      &.Windows {
        font-family: Segoe;
        display: grid;
        grid-template-columns: repeat(3, 46px);
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        font-size: 10px;
        -webkit-app-region: no-drag;
        .button {
          grid-row: 1 / span 1;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          user-select: none;
          cursor: default;
          opacity: 0.8;
          &:hover {
            background: rgba(255, 255, 255, 0.2);
            opacity: 1;
          }
        }
        #min-button {
          grid-column: 1;
        }
        #max-button,
        #restore-button {
          grid-column: 2;
        }
        #close-button {
          background: #e81123;
          grid-column: 3;
        }
      }
    }
  }
}
#root {
  margin-top: 31px !important;
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100vh - 32px);
  scroll-behavior: smooth;
}
.mdyna-app {
  margin: 0;
  padding: 0;
  min-height: 600px;

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  header {
    padding: 20px 0 10px 10px;
    display: flex;
    flex-flow: column;
    align-items: center;

    img {
      width: 100px !important;
    }
  }

  section {
    flex: 1 auto;
    width: 30vw;
    border-radius: 10px;
  }
}

// TOASTIFY STYLES
