@import "../style.scss";

* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box; scroll-behavior: smooth;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

h1 {margin: 0 0 10px 0; font-weight: 600; line-height: 1.2;}
p {margin-top: 10px; color: rgba(255,255,255,0.4);}

body {
  font-family: Roboto sans-serif;
  background-color: $background-color;
  border: 1px solid #15171f;
  overflow-y: hidden;
}
@font-face {
  font-family: Segoe;
  src: url(../assets/SegMDL2.ttf);
}

.loader {
  position: relative;
  top: 50%;
  left: 50%;
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}

.split {
  display: flex;
  flex-flow: row nowrap;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0px;
  background-color: $white-secondary-background;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $accent-color;
  border-radius: 10px;
}
#titlebar {
  display: block;
  z-index: 1;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  background-color: #0f1116;
  padding: 4px;
  color: $secondary-accent;
  font-family: Metric;
  #drag-region {

    .title {
      font-size: 1.2em;
      display: flex;
      flex-flow: row nowrap;
      font-family: Helvetica;
      justify-content: center;
      img {
        margin-right: 12px;
        height: 24px;
      }
    }
    width: 100%;
    height: 100%;
    -webkit-app-region: drag;

    #window-controls {
      font-family: Segoe;
      display: grid;
      grid-template-columns: repeat(3, 46px);
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      font-size: 10px;
      -webkit-app-region: no-drag;
      .button {
        grid-row: 1 / span 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        user-select: none;
        cursor: default;
        opacity: 0.8;
        &:hover {
          background: rgba(255,255,255,0.2);
          opacity: 1;
        }
      }
      #min-button {
        grid-column: 1;
      }
      #max-button, #restore-button {
        grid-column: 2;
      }
      #close-button {
        background: #E81123;
        grid-column: 3;
      }
    }
  }
}
#root {
  margin-top: 32px !important;
  overflow-y: scroll;
  height: 100%;
}
.mdyna-app {
  margin: 0;
  padding: 0;
  background-color: $background-color;
  min-height: 600px;

  ::-webkit-scrollbar-track {
    background-color: $secondary-background;
  }

  header {
    background-color: $secondary-background;
    color: $secondary-accent;
    padding: 20px 0 10px 10px;
    display: flex;
    flex-flow: column;
    align-items: center;

    img {
      width: 100px !important;
    }
  }

  article {
    // padding-top: 76px;
    background-color: $secondary-background;
  }

  section {
    flex: 1 auto;
    width: 30vw;
    border-radius: 10px;
  }
  &.white-mode {
    background-color: $white-background-color;

    header {
      background-color: $white-secondary-background !important;
      color: $white-font-color;
      padding: 20px 0 10px 10px !important;

      img {
        width: 100px !important;
        box-shadow: none;
        border-radius: 50%;
      }
    }

    article {
      background-color: $white-secondary-background;
    }
  }
}
