.boards-dialog-layer {
  border-radius: 10px;
  border: 1px solid currentColor;
}
.boards-dialog {
  padding: 20px 20px 40px 20px;
  min-width: 25vw;
  border: 1px solid currentColor;
  border-radius: 10px;
  justify-content: flex-start;
  .discard-btn {
    border: 1px solid #8b0f19 !important;
    padding: 5px 20px;
    width: fit-content;
    align-self: flex-end;
  }
  .error-input {
    border-color: #8b0f19 !important;
  }
  .editing-board {
    background: none;
    padding: 10px;
    font-size: 18px;
    color: currentColor;
    border: 1px solid currentColor;
    border-radius: 10px;
    outline: none;
    filter: grayscale(0.8);
    font-family: inherit;
  }
  .board-input {
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }
  .boards-row {
    justify-content: flex-start;
    align-items: center;
    font-weight: 700;
  }
  .boards-table {
    margin: 20px 0px;
    padding: 10px;
    border: 1px solid currentColor;
    border-radius: 10px;
  }
  .add-board {
    width: 100%;
    border-bottom: 1px solid currentColor;
  }
  svg {
    vertical-align: bottom;
    margin: 0 10px;
  }
}
