@import "../style.scss";

.note-layer {
  height: fit-content;
  max-height: none;
  margin-top: 32px;
}
.card-editor {
  padding: 24px 24px 48px 24px !important;
  border-radius: 10px;
  height: 100vh;
  overflow: auto;

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .form-field {
    margin: 0 20px;
    input,
    div {
      border-radius: 5px;
    }
  }

  .header {
    min-height: fit-content;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    span {
      flex: 1 1 auto;
    }
    button {
      align-self: flex-end;
      margin: 0 5px;
      &.discard-btn {
        border: 1px solid #8b0f19 !important;
        padding: 5px 20px;
      }
    }
  }

  .color-form-field {
    max-width: 20%;
    margin: 0 5px;
    > div {
      border-radius: 5px;
    }
  }

  .board-form-field {
    max-width: 25vw;
    width: 215px;
    .boards-menu {
      > div {
        border: 1px solid currentColor;
        border-radius: 5px;
      }
    }
  }

  .editor-with-preview {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    transition: color 0.5s;
    padding: 10px 5px;

    .card-preview {
      min-height: 50vh;
      margin: 0 0px 0 10px !important;
      align-self: flex-start;
      flex: 1 0.5;
      @include breakpoint(small) {
        width: 100% !important;
        flex: 1;
        margin: 10px auto !important;
      }
    }
  }
}
