@import "../style.scss";

.note-layer{
  display: block !important;
  color: $accent-color;
  margin-top: 32px;
  background-color: $secondary-background !important;

  button {
    @include normalize-button-icons();
    svg {
      path {
        fill: #666;
      }
      polygon {
        stroke: #666;
      }
    }
    &:hover {
      svg {
        path {
          fill: $accent-color;
        }
        polygon {
          stroke: $accent-color;
        }
      }
    }
  }
}

.card-editor {
  padding: 24px 24px 48px 24px !important;
  border-radius: 10px;
  height: 100vh;
  overflow: scroll;
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .form-field {
    margin: 0 20px;
    input {
      border-color: $accent-color;
      border-radius: 5px;
    }
  }

  .header {
    min-height: fit-content;
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: flex-start;
    span {
      flex: 1 1 auto;
    }
    button {
      align-self: flex-end;
      margin: 0 5px;
      &.discard-btn {
        background-color: rgb(158, 48, 57);
        border: 1px solid rgb(139, 15, 25) !important;
        color: $accent-color;
      }
    }
  }

  .color-form-field {
    max-width: 20%;
    margin: 0 5px;
    > div {
      border-radius: 5px;
      border: 1px solid $accent-color;
    }
  }

  .editor-with-preview {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    border-radius: 10px;
    transition: color 0.5s;
    padding: 10px 5px;

    @include breakpoint(small) {
      flex-flow: column wrap;
    }
    @include breakpoint(medium) {
      flex-flow: row wrap;
    }


    .card-preview {
      min-height: 50vh;
      color: $note-font-color !important;
      margin: 0 0px 0 10px !important;
      align-self: flex-start;
      flex: 1 0.5;
      @include breakpoint(small) {
        width: 100% !important;
        flex: 1;
        margin: 10px auto !important;
      }
    }

    .card-text-editor {
      flex: 1 0.5;
      max-width: 50%;
      @include breakpoint(small) {
        width: 100%;
      }


      .CodeMirror-cursor {
        border-left: 1px solid $accent-color;
      }
      .CodeMirror-selected {
        background: $note-list-background;
      }
      .CodeMirror-line {
        height: fit-content;
      }

      > div {
        background-color: $code-mirror-background;
        border-radius: 10px;
        margin-bottom: 5px;
        opacity: 1;
        color: $accent-color;
        border: 1px solid $accent-color;
      }
      .editor-toolbar:before {
        margin-bottom: 5px;
      }
      .editor-toolbar {
        opacity: 0.6;
        a {
          color: $accent-color !important;
          &.active {
            background-color: $secondary-background;
            border: 1px solid;
          }
        }
        &.fullscreen {
          height: 45px !important;
          padding-top: 5px !important;
        }
      }

      > * {
        a {
          &:hover {
            background-color: $secondary-background;
            cursor: pointer;
            border-color: $note-font-color !important;
            color: $accent-color !important;
          }
        }
      }
    }
  }
}

.note-layer.white-mode > .grommetux-layer__container {
  display: block !important;
  background-color: $white-secondary-background !important;
  button {
    svg {
      path {
        fill: $note-font-color !important;
        stroke: $note-font-color !important;
      }
      polygon {
        stroke: $note-font-color !important;
      }
    }
    &:hover {
      svg {
        path {
          fill: $white-font-color !important;
          stroke: $white-font-color !important;
        }
        polygon {
          stroke: $white-font-color !important;
        }
      }
    }
  }
  .card-editor {
    .card-text-editor {
      .editor-toolbar {
        a {
          color: $white-font-color !important;
          &.active {
            background-color: $white-secondary-background;
            border: 1px solid;
          }
          &:hover {
            background-color: $white-secondary-background;
          }
        }
      }

      .CodeMirror-cursor {
        border-left: 1px solid $note-font-color;
      }
      .CodeMirror-selected {
        background: #ccc;
      }

      > div {
        background-color: $white-background-color;
        color: $note-font-color;
        border: 1px solid $note-font-color;
      }
    }

    > div {
      color: $white-font-color !important;
    }
  }
}
