.favs-container {
  max-height: 25vh;
  min-height: 30px;
  overflow-y: auto;
  button {
    min-height: 30px;
  }
  .focus-btn {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .remove-btn {
    padding: 0;
    border-radius: 0;
    margin: 0px 5px 0px 0px !important;
    max-width: 32px;
    svg {
      height: 18px;
      width: 18px;
      vertical-align: text-top;
    }
  }
}
