.favs-container {
  padding-left: 15px;
  max-height: 25vh;
  overflow-y: auto;
  button {
    min-height: 30px;
  }
  .focus-btn {
    width: 100%;
  }
  .remove-btn {
    margin-right: 5px;
    padding: 0;
    svg {
      height: 18px;
      width: 18px;
      vertical-align: text-top;
    }
  }
}
