.settings {
  padding: 20px;
  img {
    width: 500px;
  }
  button {
    align-self: flex-end;
    margin: 5px;
    display: flex;
    &.discard-btn {
      border: 1px solid #8b0f19 !important;
      padding: 5px 20px;
    }
    span {
      font-size: 24px;
    }
  }
  svg {
    margin: 0px 15px;
  }
  .settings-container {
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    min-width: 50vw;
    h1 {
      margin: 20px 0px;
      svg {
        width: 32px;
        vertical-align: top;
        height: 32px;
      }
    }
    button {
      border: 1px solid;
      align-items: center;
      align-self: flex-start;
    }
    .tip-icon {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
