.settings {
  padding: 20px;
  overflow: scroll;
  height: 100vh;
  img {
    width: 100px;
  }
  #dark-theme-picker {
    display: flex;
    flex-flow: row nowrap;
    width: 100px;
    border: 2px solid #1de9b6;
    .main {
      background-color: #1de9b6;
      width: 50%;
      height: 24px;
    }
    .secondary {
      background-color: #15171f;
      width: 50%;
      height: 24px;
    }
  }
  #white-theme-picker {
    display: flex;
    width: 100px;
    flex-flow: row nowrap;
    border: 2px solid #4ECDC4;
    .main {
      background-color: #40C0CB;
      width: 50%;
      height: 24px;
    }
    .secondary {
      background-color: #E9EFF2;
      width: 50%;
      height: 24px;
    }
  }
  #black-theme-picker {
    display: flex;
    width: 100px;
    flex-flow: row nowrap;
    border: 2px solid #dadada;
    .main {
      background-color: #0b0b0d;
      width: 50%;
      height: 24px;
    }
    .secondary {
      background-color: #333333;
      width: 50%;
      height: 24px;
    }
  }
  #synth-theme-picker {
    display: flex;
    width: 100px;
    flex-flow: row nowrap;
    border: 2px solid #00ccfd;
    .main {
      background-color: #400d59;
      width: 50%;
      height: 24px;
    }
    .secondary {
      background-color: #791e94;
      width: 50%;
      height: 24px;
    }
  }
  #flat-theme-picker {
    display: flex;
    flex-flow: row nowrap;
    width: 100px;
    border: 2px solid #000;
    .main {
      background-color: #fafafa;
      width: 50%;
      height: 24px;
    }
    .secondary {
      background-color: #000;
      width: 50%;
      height: 24px;
    }
  }
  button {
    align-self: flex-end;
    margin: 5px;
    display: flex;
    &.discard-btn {
      border: 1px solid #8b0f19 !important;
      padding: 10px;
      svg {
        margin: 0 0 10px 0;
      }
    }
    span {
      font-size: 1.2em;
    }
  }
  svg {
    margin: 0px 15px 0px 0px;
  }
  .app-info {
    padding: 50px;
    border-radius: 10px;
    margin: 30px 20px;
    align-items: center;
    justify-content: flex-start;
    > div {
      width: 100%;
    }
    header {
      margin: 0 auto;
      h1 {
        width: fit-content;
      }
    }
    span {
      margin: 5px auto;
    }
    .credits {
      margin: 15px auto;
      padding: 20px;
      width: 50%;
    }
  }
  .settings-layout {
    flex-flow: row wrap;
  }
  .settings-container {
    height: 100%;
    flex: 1 1;
    border-radius: 10px;
    padding: 20px 20px 40px 20px;
    margin-top: 20px;
    min-width: 50vw;
    h1 {
      margin: 30px 0px;
      svg {
        width: 32px;
        vertical-align: middle;
        height: 32px;
      }
    }
    h2 {
      margin: 15px 10px;
      svg {
        height: 24px;
        height: 24px;
        vertical-align: middle;
      }
    }
    .settings-section {
      border-bottom: 1px solid;
      padding-bottom: 15px;
      flex-flow: row wrap;
      margin-bottom: 30px;
      > * {
        max-width: 50%;
      }
    }

    .tip-icon {
      svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
