@import "../style.scss";

.sidebar {
  opacity: 0.9;
  border-right: 1px solid;
  transition: width 0.5s;
  position: sticky;
  margin-right: 10px;
  width: 50px;
  top: 10px;
  align-items: center;
  flex-flow: column nowrap;
  height: calc(100vh - 32px);
  overflow: hidden;
  .bottom-section {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding-bottom: 32px;
    border-top: 1px solid currentColor;
    width: 100%;
  }
  .expandable {
    display: none;
  }
  .title-btn {
    width: 100%;
    margin-bottom: 12px !important;
    text-align: center;
    span {
      font-weight: 700;
      font-size: 18px;
      line-height: 24px;
      transition: all 0.5s;
    }
    svg {
      transition: all 0.5s;
    }
    &.collapsed {
      span {
        font-size: 0px;
        line-height: 0px;
      }
      svg {
        transform: rotate(180deg);
      }
    }
  }
  .menu-label {
    transition: all 0.5s;
    opacity: 0;
    font-size: 0px !important;
  }
  .help {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }
  &.expanded {
    padding: 0;
    width: 200px;
    .expandable {
      display: initial;
    }
    > div > button {
      width: 100%;
    }
    .button {
      margin: 0px;
      &:hover {
        color: currentColor;
      }
      svg {
        margin: 0 5px;
      }
    }
    .sidebar-tooltip {
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0;
      padding: 0 !important;
    }
    .menu-label {
      opacity: 1 !important;
      font-size: 14px !important;
    }
    .expandable-menu {
      width: 100%;
    }
    .sub-menu {
      > div {
        margin-left: 15px;
      }
    }
  }
  .sidebar-tooltip {
    opacity: 1;
    transition: all 0.5s;
    margin: 3px auto;
    max-width: 28px;
    cursor: pointer;
  }
  > div > div > .button {
    width: 100%;
  }
  button {
    text-align: start;
    font-weight: 700;
    font-size: 14px;
    border-radius: 0px !important;
    padding: 3px;
    width: 100%;
    span {
      line-height: 24px;
      transition: all 0.5s;
    }

    &.active {
      svg {
        transition: all 0.5s;
        &.descending {
          transform: rotate(180deg);
        }
      }
    }
  }
  .sync {
    width: 100%;
    button {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      border: none;
    }
  }

  @include breakpoint(small) {
    &.expanded {
      padding: 0;
      width: 200px;
    }
    .menu-label {
      font-size: 0px !important;
    }
  }
}
