@import "../style.scss";

.sidebar {
  opacity: 0.9;
  border-radius: 0px 10px 10px 0px;
  border: 1px solid;
  border-left: none;
  transition: width 0.5s;
  padding: 10px 5px;
  position: sticky;
  margin-right: 10px;
  width: 50px;
  margin-top: 0px;
  top: 50px;
  align-items: center;
  flex-flow: column nowrap;
  height: 90vh;
  .menu-label {
    transition: all 0.5s;
    opacity: 0;
    font-size: 0px !important;
  }
  &.focused {
    margin-top: 50px;
  }

  .help {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }
  &.expanded {
    padding: 10px 0;
    width: 200px;
    > div > button {
      width: 100%;
    }
    .sidebar-tooltip {
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0;
      padding: 0 !important;
    }
    .menu-label {
      opacity: 1 !important;
      font-size: 14px !important;
    }
    .expandable-menu {
      width: 100%;
    }
    .sub-menu {
      > div {
        margin-left: 15px;
      }
    }
  }
  .sidebar-tooltip {
    opacity: 1;
    transition: all 0.5s;
    margin: 5px;
    cursor: pointer;
  }
  > div > div > .button {
    width: 100%;
    border-radius: 3px !important;
  }
  .menu-controller .button {
    width: 100%;
    font-weight: 300;
  }
  button {
    text-align: start;
    font-weight: 700;
    font-size: 14px;
    border-radius: 3px !important;
    padding: 3px;
    span {
      transition: all 0.5s;
    }

    &.active {
      svg {
        transition: all 0.5s;
        &.descending {
          transform: rotate(180deg);
        }
      }
    }
  }
  .sync {
    width: 100%;
    button {
      width: 100%;
      border: none;
    }
  }
  .menu-label-filter {
    margin: 5px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    span {
      font-size: 14px;
    }
  }

  @include breakpoint(small) {
    &.expanded {
      padding: 0;
      width: 200px;
    }
    .menu-label {
      font-size: 0px !important;
    }
  }
}
