@import '../../style.scss';

.task-list {
  background-color: $task-list-background;
  color: $font-color;
  padding: 10px;
  flex-flow: column wrap !important;

  .grommetux-headline {
    @include neon-glow($accent-color);
    filter: drop-shadow(6px 3px 6px $accent-color)
  }

  .visible-tasks {
    flex-wrap: wrap;
    align-items: center;
  }

  .add-task-btn {
    @include normalize-button-icons()
    margin: 10px auto;
  }
}
