@import '../../style.scss';

.task-list {
  background-color: $task-list-background;
  color: $font-color;
  padding: 10px;
  margin: 10px;
  flex-flow: column wrap !important;

  .visible-tasks {
    flex-wrap: wrap;
    align-items: center;
  }

  .add-task-btn {
    @include normalize-button-icons();
    margin: 10px auto;
  }
}
