@import '../../style.scss';

.task-item {
  color:$task-font-color;
  margin: 5px;
  .task-card-content {
    p {
      color: $task-font-color !important;
    }
    pre {
      background-color: #333;
      code {
        font-size: 14px;
        color: #4e636e;
        padding: 2px;
      }
    }
    blockquote {
      p {
        color: $accent-color !important;
      }
    }
  }
}
