@import '../../style.scss';

.task-layer > .grommetux-layer__container {
  display: block !important;
  background-color: $secondary-background !important;
  
  button {
    @include normalize-button-icons()
  }
}


.grommet.grommetux-drop {
  background-color: $font-color !important;
  
  div {
    width: 100%;
    color: $task-font-color !important;

    ol {
      flex-flow: row nowrap;
      display: flex;
      justify-content: space-around;
    }
  }
}


.task-editor {
  padding: 10px;

  > div {
    color: $accent-color;
  }

  .grommetux-check-box__control-check {
    position: absolute;
    stroke: $accent-color;
  }

  .editor-with-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    > div {
      margin-top: 10px;
    }
    .task-preview {
      min-height: 245px;
      color: $task-font-color !important;
      flex-basis: 35%;

    }

    .task-text-editor {
      flex-basis: 63%;

      .mde-header {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.15);
      }

      > * {
        textarea {
          background-color: white;
          resize: none;
          &:focus {
            border-color: transparent !important;
          }
        }
        button {
          background-color: transparent !important;
          border: none !important;
          border-radius: 0 !important;
          text-align: center !important;
          outline: none !important;
          min-width: auto !important;
          max-width: auto !important;
        }
      }
    }
  }
}