@import "../../style.scss";


.sidebar {
  background-color: $sidebar-background-color;
  color: $accent-color;
  opacity: 0.9;
  border-radius: 0px 10px 10px 0px;
  width: 50px;
  transition: width 0.5s;
  padding: 10px 5px;
  position: sticky;
  top: 50px;
  margin-right: 10px;
  overflow: hidden !important;
  .menu-label {
    transition: all 0.5s;
    font-size: 0px !important;
  }

  .help {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }
  &.expanded {
    width: 250px;
    .sidebar-tooltip {
      opacity: 0;
      height: 0;
      width: 0;
      margin: 0;
      padding: 0 !important;
    }
    .menu-label {
      font-size: 14px !important;
    }
  }
  .sidebar-tooltip {
    opacity: 1;
    transition: all 0.25s;
    margin: 5px 0;
    cursor: pointer;
  }
  button {
    font-weight: 300;
    font-size: 14px;
    span {
      transition: all 0.5s;
    }

    &.active {
      border: 1px solid $accent-color;
      border-radius: 10px;
      filter: contrast(200%);
      &:hover {
        filter: contrast(750%);
      }
      svg {
        transition: all 0.5s;
        &.descending {
          transform: rotate(180deg);
        }
      }
    }
    &:hover {
      filter:saturate(500%);
    }
    svg {
      path {
        stroke: $accent-color !important;
      }
      polyline {
        stroke: $accent-color !important;
      }
      polygon {
        stroke: $accent-color !important;
      }
    }
  }
  .menu-label-filter {
    margin: 5px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    span {
      font-size: 14px;
    }
    svg {
      polygon {
        stroke: $accent-color !important;
      }
    }
  }

  @include breakpoint(small) {
    &.expanded {
      padding: 0;
      width: 200px;
    }
    .menu-label {
      font-size: 0px !important;
    }
  }
}

