@import "../../style.scss";
$complete-color: #1976d2;
$complete-accent: #63a4ff;
$snooze-accent: #ffc400;
$snooze-color: #ffa000;
$fail-color: #e65100;
$fail-accent: #f57c00;


button {
  margin: 5px;
  @include normalize-button-icons();
  svg {
    border: none;
    &:hover {
      border: none;
    }
  }

  svg.complete-task-icon {
    margin: 5px !important;
    polyline {
      stroke: $complete-color !important;
    }
  }
  svg.snooze-task-icon {
    margin: 5px !important;
    path {
      stroke: $snooze-color !important;
    }
  }

  svg.fail-task-icon {
    margin: 5px !important;
    path {
      stroke: $fail-color !important;
    }
  }

  &:hover {
    svg.complete-task-icon {
      polyline {
        stroke: $complete-accent !important;
      }
    }
    svg.snooze-task-icon {
      path {
        stroke: $snooze-accent !important;
      }
    }
    svg.fail-task-icon {
      path {
        stroke: $fail-accent !important;
      }
    }
  }
}

.task-item {
  width: fit-content !important;
  padding: 5px !important;
  margin: 10px auto !important;
  border-radius: 10px;

  .task-chart {
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
    > div {
      align-items: center;
    }
  }
  .labels {
    margin-bottom: 10px;
  }
  .grommetux-legend__item,
  .grommetux-legend__total {
    color: #333 !important;
  }

  .grommetux-meter__graphic {
    height: 150px !important;
    width: 150px !important;
  }

  .grommetux-color-index-accent-2 {
    stroke: $fail-color !important;
    & .grommetux-meter__slice--active {
      stroke: $fail-accent !important;
    }
  }

  .grommetux-color-index-neutral-2 {
    stroke: $snooze-color !important;
    & .grommetux-meter__slice--active {
      stroke: $snooze-accent !important;
    }
  }

  .grommetux-color-index-accent-1 {
    stroke: $complete-color !important;
    & .grommetux-meter__slice--active {
      stroke: $complete-accent !important;
    }
  }
}
