$background: #15171f;
$accent: #1de9b6;
$font-color: #333;
$editor-background: #1d202c;
$code-mirror-background: #050a10bb;
$white-code-background: #edeff8;
$code-background: #08090a;
$note-font-color: #333333dd;

@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 1024px) { @content; }
  }
  @else if $point == large {
    @media (min-width: 992px) and (max-width: 1024px) { @content; }
  }
  @else if $point == medium {
    @media (min-width: 768px) and (max-width: 992px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 768px)  { @content; }
  }
}

