@import "../../style.scss";

button.button {
  @include normalize-button-icons();
  font-weight: bold;
  padding: 5px !important;
  margin: 5px 0;
  outline: none !important;
  &.icon {
    @include normalize-button-icons();
    padding: 20px;
  }
  svg {
    margin: 0 5px;
    vertical-align: middle;
  }

  &.alt {
    background-color: $background-color;
    color: $accent-color;
    border: 1px solid $accent-color !important;
    font-weight: bold;
  }
  &.primary {
    background-color: $accent-color;
    color: $background-color;
    border: 1px solid $background-color !important;
  }
  &.white-theme {
    border: 1px solid $white-secondary-background !important;
    &.alt {
      color: $white-background-color;
      background-color: $white-font-color;
    }
    &.primary {
      color: $white-font-color;
      background-color: $white-background-color;
    }

  }
}
