.color-picker-button {
  max-width: fit-content;
}
.twitter-picker {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
  width: 100% !important;
  input {
    height: 30px !important;
  }
  span {
    cursor: pointer;
  }
  div > div {
    display: none !important;
    input {
      border-radius: 5px !important;
    }
  }
  div > div ~ div {
    display: initial !important;
  }
}
