.error-boundary {
    background-color: #c62828 !important;
    position: absolute;
    top: 5vh;
    left: 5vw;
    color: white;
    font-family: Helvetica;
    width: 300px;
    border: 1px solid white;
    border-radius: 15px;
    z-index: 1;
    opacity: 0.8;
    transition: opacity 2s ease;
    padding: 2vw;
    &.closed {
      opacity: 0;
      transition: opacity 0.5s ease;
    }
}
