@import "../../style.scss";

label.picker {
  #folder-picker {
    visibility: hidden;
  }
  text-align: right;
  font-weight: 300;
  font-size: 14px;
  padding: 2px 5px 0px 10px;
  height: 32px;
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
  // THEME STYLE
  svg {
    margin: 0 5px;
    vertical-align: text-bottom;
    path {
      stroke: $accent-color !important;
    }
  }
  &:hover {
    filter: saturate(500%)
  }
  &.white-mode {
    svg {
      path {
        stroke: $background-color !important;
      }
    }

    &:hover {
      background-color: $white-hover-color;
    }
  }
}
