label.picker {
  margin: 5px 0 40px 0;

  #folder-picker {
    visibility: hidden;
    position: absolute;
  }
  text-align: right;
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
  // THEME STYLE
  svg {
    margin: 0 5px;
    vertical-align: text-bottom;
  }
  span {
    margin: 0 20px;
  }
  .placeholder {
    font-size: 1em;
  }
}
