label.picker {
  #folder-picker {
    visibility: hidden;
  }
  text-align: right;
  border-radius: 10px;
  margin: 5px 0;
  cursor: pointer;
  // THEME STYLE
  svg {
    margin: 0 5px;
    vertical-align: text-bottom;
  }
  span {
    position: relative;
    bottom: 25px;
  }
}
