
button {
  width: fit-content;
}
.remove-btn {
  margin: 5px 15px !important;
}
.label-filter-box {
  border-radius: 10px;
  border: none;
  display: flex;
  margin-left: 15px;
  .label-box {
    overflow-y: hidden;
    display: flex;
    flex-flow: row nowrap;
    padding: 5px;
    justify-content: flex-start;
    align-items: baseline;
    overflow-y: auto;
    border-radius: 10px;
    max-height: 25vh;
    width: 100%;
    padding: 5px auto;
    .label-button {
      min-height: 32px;
      margin: 3px;
      span {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
