.label-filter-box {
  border-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  margin: 10px 5px;
  .label-box {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: baseline;
    overflow-y: auto;
    border-radius: 10px;
    max-height: 25vh;
    padding: 5px auto;
    .label-button {
      margin: 3px;
      span {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}
