.search-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 5px;

  .mdyna-search {
    border-radius: 5px !important;
    margin: 10px auto !important;
    padding: 5px 28px 5px 15px !important;
    width: 100%;
  }
  svg {
    margin-right: 5px;
  }
}
