.search-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
  margin: 20px auto;
  height: 48px;
  transition: all 0.5s;
  &.hidden {
    opacity: 0;
    width: 0;
    padding: 0;
    height: 0;
    .mdyna-search {
      display: none;
    }
  }
  &:focus {
    > * {
      display: none;
    }
  }
  div {
    max-width: 50vw;
  }
  .mdyna-search {
    border-radius: 5px !important;
  }
  svg {
    margin-right: 5px;
  }
}
