@import "../../style.scss";

.tip-icon {
  border-radius: 10px;
  padding: 2px !important;
}
.keyboard {
  color: #6a7a8f;
  font-weight: 700;
  padding: 2px;
  border: 1pt solid #6a7a8f;
  background-color: #f2f2f2;
  border-radius: 4px;
}
.keyboard-desc {
  margin-right: 5px;
}
