@import "../../style.scss";

.tip-icon {
  margin-left: 5px;
  border-radius: 50px;
  box-shadow: none !important;
  padding: 2px !important;
}
.tooltip {
  background-color: $accent-2;
  color: $white-font-color !important;
  font-family: Helvetica;
  border-radius: 10px;

  h2 {
    margin: 5px !important;
  }

  ul {
    margin: 0 10px !important;
  }


  title {
    font-size:1.5rem;
  }
  &:after {
    content: none;
  }
}
