@import "../style.scss";

.note-layer > .grommetux-layer__container {
  display: block !important;
  background-color: $secondary-background !important;

  button {
    @include normalize-button-icons();
    svg {
      border: none !important;
      path {
        fill: #666;
      }
      polygon {
        stroke: #666;
      }
    }
    &:hover {
      svg {
        path {
          fill: $accent-color;
        }
        polygon {
          stroke: $accent-color;
        }
      }
    }
  }
}


.grommet.grommetux-drop {
  background-color: $white-secondary-background !important;

  div {
    width: 1 00%;
    color: $note-font-color !important;

    ol {
      flex-flow: row nowrap;
      display: flex;
      justify-content: space-around;
    }
  }
}

.note-editor {
  padding: 10px;

  > div {
    color: $accent-color;
  }

  button {
    background-color: $accent-color;
  }
  .grommetux-check-box__control-check {
    position: absolute;
    path {
      stroke: $accent-color;
    }
  }
  .grommetux-check-box__input:checked + .grommetux-check-box__control {
    border-color: $accent-color;
  }

  .grommetux-form-field--focus {
    border-color: $accent-color;
  }

  .grommetux-select__control {
    background-color: transparent;
  }

  .grommetux-check-box:hover:not(.grommetux-check-box--disabled) .grommetux-check-box__label {
    color: $secondary-accent;
  }
  .grommetux-check-box:hover:not(.grommetux-check-box--disabled) .grommetux-check-box__input:checked + .grommetux-check-box__control {
    border-color: $secondary-accent !important;
  }
  .grommetux-check-box:hover:not(.grommetux-check-box--disabled) .grommetux-check-box__control {
    border-color: $secondary-accent;
}

  .color-options {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;

    svg {
      width: 30px !important;
      height: 45px !important;
      circle {
        transform: translate(50%, 75%);
      }
    }
  }

  .editor-with-preview {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
      margin-top: 10px;
    }
    .note-preview {
      min-height: 245px;
      color: $note-font-color !important;
      flex-basis: 35%;
    }

    .note-text-editor {
      flex-basis: 63%;

      .mde-header {
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.15);
      }

      > * {
        textarea {
          background-color: white;
          resize: none;
          &:focus {
            border-color: transparent !important;
          }
        }
        button {
          background-color: transparent !important;
          border: none !important;
          border-radius: 0 !important;
          text-align: center !important;
          outline: none !important;
          min-width: auto !important;
          max-width: auto !important;
        }
      }
    }
  }
}

.note-layer.white-mode > .grommetux-layer__container {
  display: block !important;
  background-color: $white-secondary-background !important;
  .note-editor {
    > div {
      color: $white-font-color !important;
    }
  }
}
