@import "../style.scss";

$navbar-background-color: #0c1014;

.navbar {
  background-color: $navbar-background-color;
  color: $accent-color;
  opacity: 0.9;
  max-height: 200px;

  .navbar-app-logo {
    height: 32px;
    width: 32px;
    margin: 5px;
    box-shadow: 0px 1px 1px 1px $accent-color;
    border-radius: 50%;
  }
}
