@import "../../style.scss";

.note-list {
  background-color: $note-list-background;
  color: $font-color;
  padding: 10px;
  margin: 10px;
  flex-flow: column wrap !important;

  &.white-mode {
    color: $white-font-color;
    background-color: $white-note-list-background;

  }

  .visible-notes {
    flex-wrap: wrap;
    align-items: center;
  }

  .add-note-btn {
    @include normalize-button-icons();
    margin: 10px auto;
    transform: translate(0, 2px);
    svg {
      width: 32px;
      height: 32px;
    }
  }
}
