@import "../../style.scss";

.note-item {
  color: $note-font-color;
  margin: 5px;

  .labels {
    display: flex;
    flex-flow: row wrap;
    span {
      width: fit-content;
      margin: 5px;
      padding: 5px;
      display: inline-block;
    }
  }

  .note-card-content {
    p {
      color: $note-font-color !important;
    }
    pre {
      background-color: #333;
      code {
        font-size: 14px;
        color: #4e636e;
        padding: 2px;
      }
    }
    blockquote {
      p {
        color: $accent-color !important;
      }
    }
  }
}
