@import "../../style.scss";

.note-list {
  background-color: $note-list-background;
  color: $font-color;
  padding: 10px;
  margin: 10px;
  flex-flow: column wrap !important;

  &.white-mode {
    color: $white-font-color;
    background-color: $white-note-list-background;

    .add-note-btn {
      background-color: $white-secondary-background;
      border-radius: 50px;
    }
  }

  .visible-notes {
    flex-wrap: wrap;
    align-items: center;
  }

  .add-note-btn {
    @include normalize-button-icons();
    border-radius: 50px;
    background-color: $background-color;
    margin: 10px auto;
    height: 24px;
    transform: translate(0, 2px);
  }
}
