@import "../../style.scss";

$background-color: #15171f;
$secondary-background: #181f27;
$font-color: #c5c6c7;
$accent-color: #1de9b6;
$secondary-accent: #64ffda;
$note-font-color: #333333;
$note-list-background: #1f2833;

.note-list {
  background-color: $note-list-background;
  color: $font-color;
  padding: 10px;
  margin: 10px;
  flex-flow: column wrap !important;

  &.white-mode {
    color: $white-font-color;
    background-color: $white-note-list-background;

    .add-note-btn {
      background-color: $white-secondary-background;
      border-radius: 50px;
    }
  }

  .visible-notes {
    flex-wrap: wrap;
    align-items: center;
  }

  .add-note-btn {
    @include normalize-button-icons();
    margin: 10px auto;
    transform: translate(0, 2px);
  }
}
