$background-color: #15171f;
$secondary-background: #181f27;
$font-color: #C5C6C7;
$accent-color: #1DE9B6;
$secondary-accent:#64FFDA;
$task-font-color: #333333;
$task-list-background: #1F2833;

@mixin neon-glow($glow-color) {
  text-shadow: 0px 0 3px #fff, 0 0 4px #fff, 0 0 5px $accent-color, 0 0 6px $accent-color, 0 0 10px $accent-color;
}

@mixin normalize-button-icons() {
  border: none !important;
  box-shadow: none !important;
  svg {
    path {
      stroke: $accent-color !important;
    }
  &:hover {
    path {
      stroke: $secondary-accent !important;
      }
    }
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto sans-serif;
  background-color: $background-color;

  .grommet {
    background-color: $background-color !important;
  }

  header {
    background-color: $secondary-background !important;
    color: $secondary-accent;
    padding: 20px 0 10px 10px !important;

    img {
      width: 100px !important;
      box-shadow: 0 3px 10px 4px $accent-color;
      border-radius: 50%;
    }
  }

  article {
    background-color: $secondary-background;
  }
}
