$background-color: #15171f;
$secondary-background: #181f27;
$font-color: #c5c6c7;
$accent-color: #1de9b6;
$secondary-accent: #64ffda;
$task-font-color: #333333;
$task-list-background: #1f2833;

$white-background-color: #fafafa;
$white-secondary-background: #f5f5f5;
$white-font-color: #212121;
$white-task-list-background: #cfd8dc;

@mixin neon-glow($glow-color) {
  text-shadow: 0px 0 3px #fff, 0 0 4px #fff, 0 0 5px $accent-color,
    0 0 6px $glow-color, 0 0 10px $glow-color;
}

@mixin normalize-button-icons(
  $path-color: $accent-color,
  $secondary-path-color: $secondary-accent
) {
  border: none !important;
  box-shadow: none !important;
  svg {
    path {
      stroke: $path-color !important;
    }
    &:hover {
      path {
        stroke: $secondary-path-color !important;
      }
    }
  }
}
