$background-color: #4e636e;
$font-color: #f5f5f5;
$task-font-color: #333333;
$logo-stroke: #37474f;

.task-list {
  background-color: $logo-stroke;
  color: $font-color;
  padding: 10px;
  flex-wrap: wrap;

  .visible-tasks {
    flex-wrap: wrap;
    align-items: center;
    padding: 10px;
  }

  .add-task-btn {
    align-self: center;
    margin: 20px 0 0 0;
  }

  .task-item {
    color:$task-font-color;
    width: calc((100%/3) - 10px);
    margin: 5px;
  }
  
}
